
.logoimc{
    height: 60px;
    width: 60px;
}
.navbar{
  background: rgb(75,0,130);
  background: linear-gradient(52deg, rgba(75,0,130,1) 42%, rgba(152,13,255,1) 64%);
}
.textlogo{
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
}
* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.direitos{
  font-size: larger;
  color: white;
}
.fundo{
  height: 150px;
  background: rgb(152,13,255);
  background: linear-gradient(52deg, rgba(152,13,255,1) 35%, rgba(75,0,130,1) 82%);
}
  